.todo-itemBlock
    input(placeholder='Новая задача', v-model='newItem', @keyup.enter='addTodo').input

    .todo-item-buttonBlock
        button(@click='addTodo', :disabled='disabledButton').button.button--mini.button--blue.fa.fa-plus