.login-block
    form
        .login-head {{ isNewLogin ? 'Войти в приложение' : 'Создание учетной записи' }}

        .login-field
            input(placeholder='Логин(email)', maxlength='150', v-model='email', :class='{ "input--error": isErrorLogin }').input
        .login-field
            input(placeholder='Пароль', maxlength='150', v-model='password', type='password', :class='{ "input--error": isErrorPass }').input

        div(v-if='isErrorLogin || isErrorPass').login-errorText
            div(v-if='isErrorLogin') Введите корректный e-mail
            div(v-if='isErrorPass') Введите пароль более 6 символов

        button(type='button', @click='isNewLogin ? signIn() : createUser()').button.u-spaceMarginBottom10 {{ isNewLogin ? 'Войти' : 'Создать' }}


    a(@click='switchLoginOrCreate()').link {{ isNewLogin ? 'Создать учтную запись' : 'Вернуться к вводу учетной записи' }}

    div(v-if='isNewLogin').login-instruction
        .login-instruction-text Войти с помощью аккаунта:
        .login-icon-block
            button(@click='signInGoogle()').button-social.fa.fa-google
            button(@click='signInFacebook()').button-social.fa.fa-facebook
            button(@click='signInGitHub()').button-social.fa.fa-github