.login-block
    form
        .login-head {{ isNewLogin ? 'Войти в приложение' : 'Создание учетной записи' }}

        div(v-if='!isNewLogin')
            .login-field
                input(placeholder='Имя', maxlength='150', v-model='firstName', :class='{ "input--error": isErrorFirstName }').input

            .login-field
                input(placeholder='Фамилия', maxlength='150', v-model='lastName', :class='{ "input--error": isErrorLastName }').input

        .login-field
            input(placeholder='Логин (email)', maxlength='150', v-model='email', @input='onInputEmail', :class='{ "input--error": isErrorLogin || isServErrLogin }').input
        .login-field
            input(placeholder='Пароль', maxlength='150', v-model='password', @input='onInputPass', type='password', :class='{ "input--error": isErrorPass || isServErrPass }').input

        div(v-if='viewErrBlock').login-errorText
            div(v-if='isErrRequeredName') Введите Имя и Фамилию
            div(v-if='isErrorLogin') Введите корректный e-mail
            div(v-if='isErrorPass') Введите пароль более 6 символов
            div(v-if='servErr') {{ servErr }}

        button(type='button', @click='isNewLogin ? signIn() : createUser()').button.u-spaceMarginBottom10 {{ isNewLogin ? 'Войти' : 'Создать' }}


    a(@click='switchLoginOrCreate()').link {{ isNewLogin ? 'Создать учтную запись' : 'Вернуться к вводу учетной записи' }}

    div(v-if='isNewLogin').login-instruction
        .login-instruction-text Войти с помощью аккаунта:
        button(@click='signInGoogle()').button-social.fa.fa-google