.button
	box-sizing border-box
	background #f1f5f9
	color #666
	border 1px solid #f1f5f9
	border-radius 5px
	cursor: pointer
	outline none

	font-family 'Ubuntu', arial
	font-size 13px

	padding 8px 16px

	height 30px

	&:hover
	&:focus
		border-color: #c3c7cb

	&:disabled
		color #b2b2b2
		cursor auto

		&:hover
			border-color #f1f5f9

	&--fullSize
		width 100%

	&--mini
		width 30px
		height 30px
		margin-right 5px
		padding 0
		text-align center

	&--blue
		background #56adff
		border 1px solid #56adff
		color: #fff

		&:hover
		&:focus
			border-color #3b679d

		&:disabled
			color rgba(255, 255, 255, .7)

			&:hover
				border 1px solid #56adff